.left:hover + .mid {
  border-right: none;
}

.right:hover + .mid {
  border-left: none;
}

.mid:hover + .left
{
  border-right: none;
}

.mid:hover + .right
{
  border-left: none;
}



/* peer:hover + .left {
  border:none;
} */





